﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.User</h3>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 250px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table>

    @foreach (var std in @ViewBag.Task)
    {
        string s = std.Title;



<tr>
    <td>
        @if (@ViewBag.User.Contains("sudija"))
        {
            @Html.ActionLink(s, "Task", "Home", new { number = std.TaskNumber, title = std.Title, username = @ViewBag.User }, null)
        }
        else if (@ViewBag.User.Contains("upisnicar"))
        {
            @Html.ActionLink(s, "Registar", "Home", new { number = std.TaskNumber, title = std.Title, username = @ViewBag.User }, null)
        }


    </td>
        </tr>
    }

</table>


