﻿@{
    ViewBag.Title = "Home Page";
}
@model TestSoap.Models.Task


@using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))
{
    <h3>Username</h3>
    @Html.TextBoxFor(model => model.User)
    @Html.ValidationMessageFor(model => model.User)

    <button type="submit">Subscribe</button>
}

