﻿
@{
    ViewBag.Title = "View";

}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 250px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        width: 350px;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h3>@ViewBag.Predmet</h3>
<h3>@ViewBag.Number</h3>
<h3>Casefile id : @ViewBag.Casefile</h3>

<table>
    <th>
        Upisnik

    </th>
    <th>
        Broj predmeta
    </th>
    <th>
        Godina
    </th>

    <th>
        Sud
    </th>
    <th>
        Datum inicijalnog akta
    </th>
    <th>
        Stadijum
    </th>

    <tr>
        <td>
            @ViewBag.Lista.classId
        </td>
        <td>
            @ViewBag.Lista.caseNum
        </td>
        <td>
            @ViewBag.Lista.caseYear
        </td>
        <td>
            @ViewBag.Lista.orgUnitId
        </td>
        <td>
            @ViewBag.Lista.initialDate
        </td>
        <td>
            @ViewBag.Lista.stadiumCode
        </td>
    </tr>


</table>

@using (Html.BeginForm("Approve", "Home", new { @ViewBag.Number, ViewBag.User, ViewBag.Casefile }, FormMethod.Post))
{

    <button type="submit">Approve</button>
}



